<app-nav></app-nav>
<div class="container">
  <app-filter [data1]="'dataa111'"></app-filter>

  <!-- <h2>List Bank Accounts </h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Acc number</th>
        <th>Balance</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Employer</th>
        <th>Email</th>
        <th>City</th>
        <th>State</th>
        <th>View</th>
        <th *ngIf="checkRole === 'admin'">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let account of accounts | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 15,
                                                      currentPage: page,
                                                      totalItems: totalItems }">
        <td>{{account.account_number}}</td>
        <td>{{account.balance}}</td>
        <td>{{account.firstname}}</td>
        <td>{{account.lastname}}</td>
        <td>{{account.age}}</td>
        <td>{{account.gender}}</td>
        <td>{{account.address}}</td>
        <td>{{account.employer}}</td>
        <td>{{account.email}}</td>
        <td>{{account.city}}</td>
        <td>{{account.state}}</td>
        <td>
          <span title="Show Detail Account" data-toggle="modal" data-target="#myModalDetail"
            (click)="detailAccount(account._id.$oid)" class="glyphicon glyphicon-eye-open view-detail"></span>
        </td>
        <td *ngIf="checkRole === 'admin'">
          <span title="Edit Account" data-toggle="modal" data-target="#myModalEdit"
            (click)="clickOpenModalEdit(account._id.$oid)" class="glyphicon glyphicon-edit action-edit"></span>&nbsp;
          <span title="Delete Account" (click)="deleteAccount(account._id.$oid)"
            class="glyphicon glyphicon-remove-circle action-delete"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <pagination-controls (click)="clickPage(page)" class="my-pagination" id="listing_pagination" maxSize="10" directionLinks="true"
      (pageChange)="page = $event">
    </pagination-controls>
  </div> -->

</div>
