<div class="form-group">
  <br />
  <div *ngIf="checkRole === 'admin'" >
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"
    title="Open Modal Create Bank Account">Create Account</button>
  <hr />
  </div>
  <h2>Search Bank Account</h2>
  <form (ngSubmit)="filterAccount()"> 
    <div class="row">
      <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="account_number"  placeholder="Account number">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="balance" placeholder="Balance">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="firstname" placeholder="First name">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="lastname" placeholder="Last name">
      </div>
    </div>
    <br />
    <button class="btn btn-success text-right" data-toggle="collapse" data-target="#demo">Advanced search</button>
    <br />
    <div id="demo" class="collapse">
      <br />
      <div class="row">
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="age" placeholder="Age">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="gender" placeholder="Gender">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="address" placeholder="Address">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="employer" placeholder="Employer">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control"  [(ngModel)]="city"placeholder="City">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" [(ngModel)]="state" placeholder="State">
        </div>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>&nbsp;
    <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>
<hr />
