<div class="form-group">
  <h2>Search Bank Account</h2>
  <form (ngSubmit)="filterAccount()">
    <div class="row">
      <div class="col-sm-3">
        <label>Account number</label>
        <input type="number" min="0" class="form-control" name="account_number" [(ngModel)]="account_number"
          placeholder="Account number">
      </div>
      <div class="col-sm-3">
        <label>First name</label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]="firstname" placeholder="First name">
      </div>
      <div class="col-sm-3">
        <label>Last name</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="lastname" placeholder="Last name">
      </div>
      <div class="col-sm-3">
        <span class="togglecollage" aria-expanded="false" data-toggle="collapse"
          data-target="#demo">
          <span class="	glyphicon glyphicon-menu-down" title="Show advanced search"></span>
          <span class="	glyphicon glyphicon-menu-up" title="Hide advanced search"></span>
        </span>
      </div>
    </div>

    <div id="demo" class="collapse">
      <br />
      <div class="row">
        <div class="col-sm-3">
          <label>Balance</label>
          <input type="number" min="0" class="form-control" name="balance" [(ngModel)]="balance" placeholder="Balance">
        </div>
        <div class="col-sm-3">
          <label>Age</label>
          <input type="number" min="0" class="form-control" name="age" [(ngModel)]="age" placeholder="Age">
        </div>
        <div class="col-sm-3">
          <label>Gender</label>
          <select class="form-control" [(ngModel)]="selectedGender" name="gender">
            <option *ngFor="let item of dataGender" [ngValue]="item">{{item}}</option>
          </select>
          <!-- <input type="text" class="form-control" name="gender" [(ngModel)]="gender" placeholder="Gender"> -->
        </div>
        <div class="col-sm-3">
          <label>Address</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="address" placeholder="Address">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-3">
          <label>Employer</label>
          <input type="text" class="form-control" name="employer" [(ngModel)]="employer" placeholder="Employer">
        </div>
        <div class="col-sm-3">
          <label>Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="col-sm-3">
          <label>City</label>
          <input type="text" class="form-control" name="city" [(ngModel)]="city" placeholder="City">
        </div>
        <div class="col-sm-3">
          <label>State</label>
          <input type="text" class="form-control" name="state" [(ngModel)]="state" placeholder="State">
        </div>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>&nbsp;
    <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>
<hr />
